@charset "UTF-8";
/* PUEDEN CAMBIAR LOS VALORES SI ES NECESARIO, 
VERIFICANDO QUE NO AFECTE EL DISEÑO DE LAS DEMÁS */
/* Utilizar este mixin para los títulos de cada sección.
En el html, en cada sección colocar el tag "h1" para el título.
*/
/* Utilizar este mixin para el texto que esta debajo de los títulos y en 
la profesión (lo que esta debajo del nombre de la persona en testimonials). 
En el html, debajo de los títulos de la sección y debajo del nombre de la
persona en testimonials colocarlo con el tag "h4".
*/
/* Utilizar este mixin para los títulos de las cards, en los nombres de las 
personas en testimonials y en el about us en los títulos que están a un lado
de los íconos.
En el html, los títulos de las card, en los nombres de las personas 
en testimonials y títulos del about us al lado de iconos colocarlo con el tag "h3".
*/
.services {
  background-color: #ecf5ff;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .services h1 {
    color: #283d50;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0;
    padding-top: 10px;
    text-align: center; }
  .services h2 {
    color: #383838;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center; }

.service_card_container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .service_card_container {
      width: 768px; } }

.service_card {
  width: 100%;
  margin-bottom: 30px;
  padding: 30px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 5px #afafaf;
  position: relative;
  transition: translateY 0.2s ease-in-out; }
  .service_card header {
    margin-left: 55px;
    font-size: 18px; }
    .service_card header h3 {
      color: #000;
      font-family: "Montserrat", sans-serif;
      font-size: 23px;
      font-weight: bold;
      text-align: center;
      margin-top: 0;
      margin-bottom: 10px;
      text-align: left;
      font-size: 18px; }
    .service_card header a {
      transition: color 0.2s ease-in-out; }
      .service_card header a:hover {
        color: #007bff; }
  .service_card article {
    color: #383838;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-left: 55px; }
  .service_card .service_aside {
    background-color: grey;
    width: 80px;
    height: 100%;
    position: absolute;
    left: -15px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .service_card .service_aside .card-icons {
      width: 60px; }
  .service_card:hover {
    transform: translateY(-7px); }
  @media (min-width: 414px) {
    .service_card {
      width: 310px; } }
  @media (min-width: 768px) {
    .service_card {
      margin-right: 30px; } }

@media (min-width: 768px) {
  .onRight {
    margin-right: 0; } }

body {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }
