@charset "UTF-8";
/* PUEDEN CAMBIAR LOS VALORES SI ES NECESARIO, 
VERIFICANDO QUE NO AFECTE EL DISEÑO DE LAS DEMÁS */
/* Utilizar este mixin para los títulos de cada sección.
En el html, en cada sección colocar el tag "h1" para el título.
*/
/* Utilizar este mixin para el texto que esta debajo de los títulos y en 
la profesión (lo que esta debajo del nombre de la persona en testimonials). 
En el html, debajo de los títulos de la sección y debajo del nombre de la
persona en testimonials colocarlo con el tag "h4".
*/
/* Utilizar este mixin para los títulos de las cards, en los nombres de las 
personas en testimonials y en el about us en los títulos que están a un lado
de los íconos.
En el html, los títulos de las card, en los nombres de las personas 
en testimonials y títulos del about us al lado de iconos colocarlo con el tag "h3".
*/
.menu-desktop {
  margin-right: 4%;
  width: 100%; }
  @media (min-width: 1200px) {
    .menu-desktop {
      margin-right: 8%;
      width: 50%; } }
  @media (max-width: 1023px) {
    .menu-desktop {
      display: none; } }
  .menu-desktop ul {
    padding: 0; }
    .menu-desktop ul li {
      display: inline-block;
      padding: 0 13px; }
      .menu-desktop ul li a {
        color: #00428a;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 500;
        transition: all .2s linear; }
        .menu-desktop ul li a:hover {
          color: #007bff; }
        .menu-desktop ul li a .fa-angle-down {
          margin-left: 5px; }
        .menu-desktop ul li a .fa-angle-right {
          margin-left: 1px; }
          @media (min-width: 1200px) {
            .menu-desktop ul li a .fa-angle-right {
              margin-left: 57px; } }
      .menu-desktop ul li.first-dropdown {
        padding: 20px 14px;
        position: relative; }
        .menu-desktop ul li.first-dropdown .first-dropdown-content {
          background-color: #fff;
          box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.2);
          display: none;
          left: 0;
          min-width: 130px;
          padding: 8px 0;
          position: absolute;
          top: 50px;
          z-index: 10; }
          @media (min-width: 1200px) {
            .menu-desktop ul li.first-dropdown .first-dropdown-content {
              min-width: 190px; } }
          .menu-desktop ul li.first-dropdown .first-dropdown-content li {
            display: block;
            padding: 12px 16px; }
            .menu-desktop ul li.first-dropdown .first-dropdown-content li a {
              font-size: 13px; }
        .menu-desktop ul li.first-dropdown:hover .first-dropdown-content {
          display: block; }
      .menu-desktop ul li.second-dropdown .second-dropdown-content {
        background-color: #fff;
        box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.2);
        display: none;
        left: 0;
        min-width: 130px;
        padding: 8px 0;
        position: absolute;
        top: 50px;
        z-index: 10;
        left: 100%;
        min-width: 160px;
        top: 22%; }
        @media (min-width: 1200px) {
          .menu-desktop ul li.second-dropdown .second-dropdown-content {
            min-width: 188px; } }
      .menu-desktop ul li.second-dropdown:hover .second-dropdown-content {
        display: block; }

.navbar {
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  box-sizing: border-box;
  display: flex;
  padding: 17px 0 13px 0;
  position: fixed;
  width: 100%;
  z-index: 100; }
  @media (min-width: 414px) {
    .navbar {
      height: 60px; } }
  @media (min-width: 1024px) {
    .navbar {
      height: 80px;
      justify-content: flex-end;
      padding: 0; } }
  .navbar img {
    margin-left: 15px;
    width: 21%; }
    @media (min-width: 414px) {
      .navbar img {
        width: 16%; } }
    @media (min-width: 768px) {
      .navbar img {
        margin-left: 8%;
        width: 13%; } }
    @media (min-width: 955px) {
      .navbar img {
        margin-left: 27%; } }
    @media (min-width: 1024px) {
      .navbar img {
        margin-left: 14%;
        width: 22%; } }
    @media (min-width: 1200px) {
      .navbar img {
        margin-left: 9%;
        width: 13%; } }
  .navbar .open-sidebar {
    color: #00428a;
    font-size: 22px;
    padding-right: 24px;
    position: absolute;
    right: 0; }
    @media (min-width: 1024px) {
      .navbar .open-sidebar {
        display: none; } }
  .navbar #sidebar {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    left: -100%;
    position: fixed;
    top: 0;
    transition: left 0.3s linear;
    width: 100%; }
    @media (min-width: 1024px) {
      .navbar #sidebar {
        display: none; } }
    .navbar #sidebar:target {
      left: 0;
      opacity: 1; }
    .navbar #sidebar .close-sidebar {
      color: #fff;
      font-size: 23px;
      position: absolute;
      right: 26px;
      top: 19px; }
    .navbar #sidebar .sidebar-content {
      background-color: rgba(25, 0, 255, 0.294);
      height: 100%;
      overflow: scroll;
      position: relative;
      transition: left 0.3s linear;
      width: 81%; }
      @media (min-width: 414px) {
        .navbar #sidebar .sidebar-content {
          width: 62%; } }
      @media (min-width: 768px) {
        .navbar #sidebar .sidebar-content {
          width: 34%; } }
      @media (min-width: 955px) {
        .navbar #sidebar .sidebar-content {
          width: 27%; } }
      .navbar #sidebar .sidebar-content nav {
        padding: 2px 5px; }
        .navbar #sidebar .sidebar-content nav ul {
          list-style: none;
          padding: 0; }
          .navbar #sidebar .sidebar-content nav ul li {
            color: #fff;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            padding: 11px 15px; }
            .navbar #sidebar .sidebar-content nav ul li .dropdown-input.hidden-input {
              width: 0; }
            .navbar #sidebar .sidebar-content nav ul li .dropdown-input:checked ~ .dropdown-content {
              max-height: 800px;
              transition-timing-function: ease-in-out; }
            .navbar #sidebar .sidebar-content nav ul li .dropdown-input:checked ~ .dropdown-label:after {
              content: "▲"; }
            .navbar #sidebar .sidebar-content nav ul li .dropdown-label {
              margin-left: -11px; }
              .navbar #sidebar .sidebar-content nav ul li .dropdown-label:after {
                content: "▼"; }
            .navbar #sidebar .sidebar-content nav ul li .dropdown-content {
              max-height: 0;
              overflow: hidden;
              transition: 0.8s cubic-bezier(0, 1, 0, 1); }

/* PUEDEN CAMBIAR LOS VALORES SI ES NECESARIO, 
VERIFICANDO QUE NO AFECTE EL DISEÑO DE LAS DEMÁS */
/* Utilizar este mixin para los títulos de cada sección.
En el html, en cada sección colocar el tag "h1" para el título.
*/
/* Utilizar este mixin para el texto que esta debajo de los títulos y en 
la profesión (lo que esta debajo del nombre de la persona en testimonials). 
En el html, debajo de los títulos de la sección y debajo del nombre de la
persona en testimonials colocarlo con el tag "h4".
*/
/* Utilizar este mixin para los títulos de las cards, en los nombres de las 
personas en testimonials y en el about us en los títulos que están a un lado
de los íconos.
En el html, los títulos de las card, en los nombres de las personas 
en testimonials y títulos del about us al lado de iconos colocarlo con el tag "h3".
*/
.div {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.conteiner {
  background-color: #1445b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*     width: 100%; */ }
  @media (min-width: 768px) {
    .conteiner {
      display: flex;
      flex-direction: row-reverse;
      align-items: left;
      justify-content: center;
      padding-top: 4rem;
      padding-bottom: 4rem; } }
  .conteiner-img {
    margin-top: 5rem;
    width: 80%;
    height: auto; }
    @media (min-width: 768px) {
      .conteiner-img {
        max-width: 35%;
        height: auto;
        margin-left: 3rem;
        margin-bottom: 3rem; } }
  .conteiner-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-bottom: 3rem; }
    @media (min-width: 768px) {
      .conteiner-info {
        margin-right: 3rem;
        margin-top: 2rem;
        /* padding-left: 4rem; */ } }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  @media (min-width: 768px) {
    .btn {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: initial; } }
  .btn__text {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 700; }
  .btn__borde {
    font-weight: bold;
    border-radius: 5rem;
    width: 11rem;
    height: 3rem;
    border: 2px solid #fff;
    background-color: transparent;
    margin-top: 1rem;
    /* Este en desktop se va */
    transition: all 0.3s ease-in-out; }
    @media (min-width: 768px) {
      .btn__borde {
        margin-left: 1rem; } }
    .btn__borde:hover {
      background-color: #007bff;
      border: none;
      margin-top: 1rem; }
  .btn__azul {
    font-weight: bold;
    border-radius: 5rem;
    width: 11rem;
    height: 3rem;
    background-color: #007bff;
    margin-top: 1rem;
    border: none;
    transition: all 0.3s ease-in-out; }
    @media (min-width: 768px) {
      .btn__azul {
        width: 10rem; } }
    .btn__azul:hover {
      background-color: #1445b3;
      border: 2px solid #fff;
      margin-top: 1rem; }

.titulo-hero {
  color: #283d50;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 42px;
  margin-bottom: 2rem;
  /* Este en desktop se va */ }
  @media (min-width: 768px) {
    .titulo-hero {
      font-size: 48px;
      text-align: left; } }
  .titulo-hero__link {
    color: #82b5f6;
    text-decoration: underline; }

/* PUEDEN CAMBIAR LOS VALORES SI ES NECESARIO, 
VERIFICANDO QUE NO AFECTE EL DISEÑO DE LAS DEMÁS */
/* Utilizar este mixin para los títulos de cada sección.
En el html, en cada sección colocar el tag "h1" para el título.
*/
/* Utilizar este mixin para el texto que esta debajo de los títulos y en 
la profesión (lo que esta debajo del nombre de la persona en testimonials). 
En el html, debajo de los títulos de la sección y debajo del nombre de la
persona en testimonials colocarlo con el tag "h4".
*/
/* Utilizar este mixin para los títulos de las cards, en los nombres de las 
personas en testimonials y en el about us en los títulos que están a un lado
de los íconos.
En el html, los títulos de las card, en los nombres de las personas 
en testimonials y títulos del about us al lado de iconos colocarlo con el tag "h3".
*/
.About {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (min-width: 414px) {
    .About {
      display: flex;
      align-items: center;
      justify-content: center; } }
  .About__title {
    color: #283d50;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0;
    padding-top: 10px;
    text-align: center; }
  .About__texto {
    color: #383838;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 15px; }
    @media (min-width: 414px) {
      .About__texto {
        margin-bottom: 3rem;
        text-align: center; } }

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (min-width: 768px) {
    .box {
      width: 70%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      padding-bottom: 3rem; } }
  @media (min-width: 768px) {
    .box__izq {
      width: 55%;
      display: flex;
      flex-direction: column;
      padding-right: 3rem; }
      .box__izq--reverse {
        margin-left: 3rem; } }
  .box__txt {
    color: #383838;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 15px; }
    @media (min-width: 768px) {
      .box__txt {
        width: 100%; } }
  .box__img {
    width: 90%;
    height: auto; }
    @media (min-width: 768px) {
      .box__img {
        width: 45%;
        margin-left: 1rem; } }
  .box__icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: start; }
    @media (min-width: 414px) {
      .box__icon {
        width: 80;
        display: flex;
        flex-direction: row; } }
  .box__icono {
    /*   width: 20%; */
    display: flex;
    justify-content: left;
    align-items: flex-start; }
    @media (min-width: 768px) {
      .box__icono {
        /*  padding-top: 1rem; */ } }
  .box__info__title {
    color: #383838;
    text-align: left;
    font-weight: bolder;
    font-size: 18px;
    font-family: "Montserrat", sans-serif; }
  .box__info__txt {
    color: #383838;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 15px; }
  .box__subtitle {
    color: #383838;
    font-family: "Montserrat", sans-serif;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    text-align: left; }
  @media (min-width: 768px) {
    .box--reverse {
      width: 70%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-bottom: 3rem; } }

@media (min-width: 768px) {
  .icon_conteiner {
    display: flex;
    flex-direction: row;
    width: 90%; } }

.icon {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 7rem;
  border: 2px solid #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  color: #007bff;
  transition: all 0.3s ease-in-out; }
  .icon:hover {
    background-color: #007bff;
    color: #fff; }

/* PUEDEN CAMBIAR LOS VALORES SI ES NECESARIO, 
VERIFICANDO QUE NO AFECTE EL DISEÑO DE LAS DEMÁS */
/* Utilizar este mixin para los títulos de cada sección.
En el html, en cada sección colocar el tag "h1" para el título.
*/
/* Utilizar este mixin para el texto que esta debajo de los títulos y en 
la profesión (lo que esta debajo del nombre de la persona en testimonials). 
En el html, debajo de los títulos de la sección y debajo del nombre de la
persona en testimonials colocarlo con el tag "h4".
*/
/* Utilizar este mixin para los títulos de las cards, en los nombres de las 
personas en testimonials y en el about us en los títulos que están a un lado
de los íconos.
En el html, los títulos de las card, en los nombres de las personas 
en testimonials y títulos del about us al lado de iconos colocarlo con el tag "h3".
*/
.contact-container {
  width: 100%;
  padding: 20px 0px 40px 0px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1); }
  .contact-container h1 {
    color: #283d50;
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0;
    padding-top: 10px;
    text-align: center; }
  .contact-container .contact-us-body {
    display: flex;
    flex-direction: column; }
    @media (min-width: 1024px) {
      .contact-container .contact-us-body {
        flex-direction: row;
        width: 100%; } }
    .contact-container .contact-us-body .contact-us-map {
      margin: 50px 15px 15px 15px; }
      @media (min-width: 1024px) {
        .contact-container .contact-us-body .contact-us-map {
          width: 50%; } }
    .contact-container .contact-us-body .contact-us-information {
      margin: 15px; }
      @media (min-width: 1024px) {
        .contact-container .contact-us-body .contact-us-information {
          width: 50%; } }
      .contact-container .contact-us-body .contact-us-information .contact-us-address {
        display: flex;
        flex-direction: column;
        list-style: none; }
        @media (min-width: 768px) and (max-width: 1024px) {
          .contact-container .contact-us-body .contact-us-information .contact-us-address {
            flex-direction: row;
            justify-content: space-between; } }
        @media (min-width: 1024px) {
          .contact-container .contact-us-body .contact-us-information .contact-us-address {
            flex-direction: row;
            justify-content: space-between;
            margin: 30px 0px 20px 0px; } }
        .contact-container .contact-us-body .contact-us-information .contact-us-address .address-icon-info {
          flex-direction: row;
          font-family: "Open Sans", sans-serif;
          color: #444;
          justify-content: center;
          margin-bottom: 35px;
          font-size: 14px; }
          @media (min-width: 768px) and (max-width: 1024px) {
            .contact-container .contact-us-body .contact-us-information .contact-us-address .address-icon-info {
              width: 32%; } }
          @media (min-width: 1024px) {
            .contact-container .contact-us-body .contact-us-information .contact-us-address .address-icon-info {
              width: 30%; } }
          .contact-container .contact-us-body .contact-us-information .contact-us-address .address-icon-info .address-icon {
            font-size: 22px;
            float: left;
            color: #007bff;
            line-height: 1;
            margin-right: 15px; }
      .contact-container .contact-us-body .contact-us-information .contact-us-form {
        display: flex;
        flex-direction: column; }
        .contact-container .contact-us-body .contact-us-information .contact-us-form .contact-us-input {
          height: 30px;
          width: 100%;
          border-style: solid;
          border-width: 0.5px;
          padding: 4px 0px 4px 6px;
          margin-top: 15px;
          border-color: #afafaf;
          font-size: 14px;
          box-shadow: none; }
          @media (min-width: 1024px) {
            .contact-container .contact-us-body .contact-us-information .contact-us-form .contact-us-input {
              width: 99%; } }
        .contact-container .contact-us-body .contact-us-information .contact-us-form .contact-us-input:focus {
          color: #495057;
          background-color: #fff;
          border-color: #80bdff;
          outline: 0; }
        .contact-container .contact-us-body .contact-us-information .contact-us-form .contact-us-textarea {
          height: 100px;
          width: 100%;
          border-style: solid;
          border-width: 0.5px;
          padding: 4px 0px 4px 6px;
          margin: 15px 0px 20px 0px;
          border-color: #afafaf;
          font-size: 14px;
          box-shadow: none; }
          @media (min-width: 1024px) {
            .contact-container .contact-us-body .contact-us-information .contact-us-form .contact-us-textarea {
              width: 99%; } }
        .contact-container .contact-us-body .contact-us-information .contact-us-form .contact-us-textarea:focus {
          color: #495057;
          background-color: #fff;
          border-color: #80bdff;
          outline: 0; }
        .contact-container .contact-us-body .contact-us-information .contact-us-form .contact-us-form-row {
          display: flex;
          flex-direction: column; }
          @media (min-width: 1024px) {
            .contact-container .contact-us-body .contact-us-information .contact-us-form .contact-us-form-row {
              flex-direction: row; } }
          @media (min-width: 1024px) {
            .contact-container .contact-us-body .contact-us-information .contact-us-form .contact-us-form-row .contact-us-input-right {
              margin-left: 10px; } }
        .contact-container .contact-us-body .contact-us-information .contact-us-form .contac-us-send-button {
          width: 50%;
          color: #fff;
          font-size: 17px;
          font-weight: lighter;
          height: 40px;
          background-color: #007bff;
          border-radius: 20px;
          border-style: none;
          margin: auto; }
          @media (min-width: 768px) and (max-width: 1024px) {
            .contact-container .contact-us-body .contact-us-information .contact-us-form .contac-us-send-button {
              width: 25%; } }
          @media (min-width: 1024px) {
            .contact-container .contact-us-body .contact-us-information .contact-us-form .contac-us-send-button {
              width: 25%; } }
        .contact-container .contact-us-body .contact-us-information .contact-us-form .contac-us-send-button:hover {
          cursor: pointer;
          background-color: #0062cc;
          transition: 0.3; }

/* PUEDEN CAMBIAR LOS VALORES SI ES NECESARIO, 
VERIFICANDO QUE NO AFECTE EL DISEÑO DE LAS DEMÁS */
/* Utilizar este mixin para los títulos de cada sección.
En el html, en cada sección colocar el tag "h1" para el título.
*/
/* Utilizar este mixin para el texto que esta debajo de los títulos y en 
la profesión (lo que esta debajo del nombre de la persona en testimonials). 
En el html, debajo de los títulos de la sección y debajo del nombre de la
persona en testimonials colocarlo con el tag "h4".
*/
/* Utilizar este mixin para los títulos de las cards, en los nombres de las 
personas en testimonials y en el about us en los títulos que están a un lado
de los íconos.
En el html, los títulos de las card, en los nombres de las personas 
en testimonials y títulos del about us al lado de iconos colocarlo con el tag "h3".
*/
.container-footer {
  width: 100%;
  background-color: #004a99;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif; }
  .container-footer h4 {
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 22px; }
  .container-footer .top-footer {
    margin: 38px 12px 55px 16px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    font-weight: 400; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .container-footer .top-footer {
        flex-direction: row;
        flex-wrap: wrap; } }
    @media (min-width: 1024px) {
      .container-footer .top-footer {
        flex-direction: row;
        margin: 40px 30px 50px 40px;
        padding-left: 100px;
        padding-right: 100px; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .container-footer .top-footer .footer-row {
        width: 45%;
        margin-left: 18px; } }
    @media (min-width: 1024px) {
      .container-footer .top-footer .footer-row {
        width: 45%;
        margin-left: 18px; } }
    .container-footer .top-footer .footer-info {
      font-size: 13px;
      line-height: 24px;
      font-family: "Montserrat", sans-serif; }
      @media (min-width: 1024px) {
        .container-footer .top-footer .footer-info {
          width: 40%; } }
      .container-footer .top-footer .footer-info .footer-title {
        font-size: 38px;
        font-weight: 100;
        margin-bottom: 25px; }
    .container-footer .top-footer .useful-links {
      list-style: none;
      line-height: 35px; }
      @media (min-width: 1024px) {
        .container-footer .top-footer .useful-links {
          width: 15%; } }
    .container-footer .top-footer .contact-us {
      list-style: none;
      line-height: 26px; }
      @media (min-width: 1024px) {
        .container-footer .top-footer .contact-us {
          width: 20%; } }
      .container-footer .top-footer .contact-us .media-icon-container {
        display: flex;
        flex-direction: row;
        margin-top: 25px;
        margin-bottom: 8px; }
        .container-footer .top-footer .contact-us .media-icon-container .media-icons-share {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: #007bff;
          margin-left: 5px; }
        .container-footer .top-footer .contact-us .media-icon-container .media-icons-share:hover {
          cursor: pointer;
          background-color: #0062cc;
          transition: 0.3; }
        .container-footer .top-footer .contact-us .media-icon-container .media-icon {
          text-align: center;
          margin-top: 8px;
          font-size: 18px;
          margin-left: 9px; }
    .container-footer .top-footer .our-newsletter {
      list-style: none; }
      @media (min-width: 1024px) {
        .container-footer .top-footer .our-newsletter {
          width: 35%; } }
      .container-footer .top-footer .our-newsletter .footer-input {
        margin-top: 25px;
        height: 28px;
        width: 60%; }
      .container-footer .top-footer .our-newsletter .footer-button {
        height: 34px;
        width: 35%;
        background-color: #007bff;
        color: #fff;
        margin-left: -4px;
        font-size: 14px;
        border-style: none; }
      .container-footer .top-footer .our-newsletter .footer-button:hover {
        cursor: pointer;
        background-color: #0062cc;
        transition: 0.3; }
  .container-footer .bottom-footer {
    background-color: #00428a;
    width: 100%;
    color: #eee;
    font-size: 14px;
    text-align: center;
    justify-content: center; }
    .container-footer .bottom-footer .text-footer {
      margin-top: 32px;
      height: 8px;
      font-size: 14px;
      line-height: 22px;
      color: #eee;
      font-weight: 400; }
    .container-footer .bottom-footer .designed-by {
      margin-top: 0px;
      margin-bottom: 32px;
      font-size: 13px; }

body {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }
