@import"../abstract/variables.scss";
@import"../abstract/mixins.scss";

.div{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.conteiner{
    background-color: $blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      @include breakpoint-tablet {
        display: flex;
        flex-direction: row-reverse;
        align-items: left;
        justify-content: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
/*     width: 100%; */
    &-img{
        margin-top: 5rem;
        width: 80%;
        height:auto;
        @include breakpoint-tablet {
         max-width: 35%;
         height: auto;

         margin-left: 3rem;
         margin-bottom: 3rem;
    }
    }
    &-info{  
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-self: center;
    margin-bottom: 3rem;
     @include breakpoint-tablet {
        margin-right: 3rem;
        margin-top: 2rem;   
        /* padding-left: 4rem; */
    }
    }

    }

 .btn{
     @include breakpoint-tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: initial;

    }
        display: flex;
        align-items: center;
        justify-content: center; 
        flex-direction: column;
        &__text{
        font-family:$title;
        color: $white;
        font-size: 16px;
        font-weight: 700;
        }
        &__borde{
            @include breakpoint-tablet {
                margin-left: 1rem;
    }
        font-weight: bold;
        border-radius: 5rem;
        width: 11rem;
        height: 3rem;
        border: 2px solid $white;
        background-color: transparent;
        margin-top: 1rem;  /* Este en desktop se va */
        transition: all 0.3s ease-in-out;
        &:hover {
        background-color: $lightblue;
        border: none;
        margin-top: 1rem;
        }
        }
        &__azul{
            @include breakpoint-tablet {
        width: 10rem;
    } 
        font-weight: bold;
        border-radius: 5rem;
        width: 11rem;
        height: 3rem;
        background-color: $lightblue;
        margin-top: 1rem;
        border: none;   
        transition: all 0.3s ease-in-out;
        &:hover {
        background-color: $blue;
        border: 2px solid $white;
        margin-top: 1rem;
        }
        
        }
            
    }

.titulo-hero{
     @include breakpoint-tablet {
        font-size: 48px;
        text-align: left;
    }
    @include title-h1;
    font-weight: bold;
    color: $white;
    font-size: 42px;
    margin-bottom: 2rem; /* Este en desktop se va */
    &__link{
        color: #82b5f6;
        text-decoration: underline;
    } 
}
