.services{
    background-color: $light;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);    
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        @include title-h1;
    }
    h4{ 
        @include title-h4 ($gray);
        padding-bottom: 60px;
        @include breakpoint-tablet{
            width: 50%;
        }
    }

    // --Card Container

    .service_card_container{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @include breakpoint-tablet { 
            width: 1000px;
        }
    
    //--Card 
        .service_card{
            width: 100%;
            margin-bottom: 30px; 
            padding: 30px;
            background-color: $white;
            overflow: hidden;
            border-radius: 10px;
            box-sizing: border-box;
            box-shadow: 0 10px 29px rgba(44, 60 , 0, .1);
            position: relative;
            transition: transform 0.3s ease-in;
            header{
                margin-left: 55px;
                h3{
                    @include title-h3($black); 
                    margin-top: 0;
                    margin-bottom: 10px;
                    text-align: left;
                }
                a{
                    transition: color 0.2s ease-in; 
                    &:hover{
                        color: $lightblue; 
                    }
                }

            }
            & article{
                @include paragraph;
                font-size: 14px;
                margin-left: 55px;
            }
            & .service_aside{ 
                width: 80px;
                height: 100%; 
                position: absolute;
                left: -20px;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                & .card-icons{
                    width: 60px; 
                } 
            }
            &:hover{ 
                transform: translateY(-7px);
            }  
            @include breakpoint-tablet{
                width: 425px;  
                margin-right: 25px;
                margin-left: 25px
            }
        }
    }    
}

 
