#testimonials {
    background-color: $light;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);    
    width: 100%;
    height: auto;
    padding: 20px 0 45px 0;
    @include breakpoint-tablet {
        padding: 20px 0px 35px 0px;
    }
    @include breakpoint-tablet-desktop {
        padding: 25px 0px 35px 0px;
    }
    @include breakpoint-desktop-1 {
        padding: 40px 0px 60px 0px;
    }
    @include breakpoint-desktop-2 {
        padding: 40px 0px 60px 0px;
    }
    
    h1 {
        @include title-h1; 
    }
    .cajatestimonials {
        padding: 40px 16px;    
        @include breakpoint-tablet {
            display: flex;
            align-items: flex-start;
            padding: 40px;
        }
        @include breakpoint-tablet-desktop {
            padding: 40px 134px 40px 134px;
        }   
        @include breakpoint-desktop-1 {
            padding: 40px 210px 20px 210px;
        }
        @include breakpoint-desktop-2 {
            padding: 40px 310px 20px 310px;
        }
        @include breakpoint-desktop-4 {
            padding: 40px 450px 20px 450px;
        }
        .imgtestimonials {
            max-width: 112px;
            border-radius: 50%;   
            display: block;
            margin: 0 auto;
            border: 4px solid $white;
            @include breakpoint-tablet {
              margin-top: 10px;
          }
        }
        .textotestimonials {
            width: 100%;
            text-align: center; 
            @include breakpoint-tablet {
                padding: 10px;    
            }                    
            h3 {
                @include title-h3 ($black); 
                    font-size: 20px;
                    margin: 10px 0 5px 0;
                @include breakpoint-tablet {
                    padding-left: 10px;
                    text-align: left;
                    margin: 0;
                }      
            }
            h4 {
                font-size: 14px;
                color: #999999;
                font-family: $title;
                margin: 0px auto 0 auto;
                font-weight: 200;
                @include breakpoint-tablet {
                    padding: 4px 0 0 10px;
                    text-align: left;
                } 
            }
            p {
                @include paragraph; 
                color: $blackgray;
                font-size: 16px;
                font-style: italic;
                @include breakpoint-tablet {
                    padding: 0 0 0 10px;
                    text-align: left;
                }  
                @include breakpoint-desktop-1 {
                    width: 100%;
                } 
            }
        }         
    }
}