.hero-buttons {
    @include breakpoint-desktop-1 {
        position: absolute;
        left: 0;
    }
    button {
        background-color: transparent;
        border: 2px solid $white;
        border-radius: 25px;      
        height: 43px;
        margin: 10px 0;
        transition: all 0.3s ease-in-out;
        width: 165px; 
        @include breakpoint-mobile-2 {
            margin: 10px;
        }
        @include breakpoint-tablet {
            margin: 18px 10px;
        }
        @include breakpoint-desktop-1 {
            margin: 18px 20px 0 0;
        }
        &.btn__azul{
            background-color: $lightblue;
            border: 2px solid $lightblue;   
            &:hover{
                border: 2px solid $white;
                background-color: transparent;
            }
        }
        &:hover {
            background-color: $lightblue;
            border: 2px solid $lightblue;
        }
        a {   
            color: $white;
            font-family: $title;
            font-size: $font-m;
            font-weight: bold;
        }
    }
}
