/* PUEDEN CAMBIAR LOS VALORES SI ES NECESARIO, 
VERIFICANDO QUE NO AFECTE EL DISEÑO DE LAS DEMÁS */

/* Utilizar este mixin para los títulos de cada sección.
En el html, en cada sección colocar el tag "h1" para el título.
*/
@mixin title-h1 {
    color: $bluegray;
    font-family: $title;
    font-size: $font-xxl;
    font-weight: $medium;
    margin-bottom: 0;
    padding-top: 10px;
    text-align: center;  
}

/* Utilizar este mixin para el texto que esta debajo de los títulos y en 
la profesión (lo que esta debajo del nombre de la persona en testimonials). 
En el html, debajo de los títulos de la sección y debajo del nombre de la
persona en testimonials colocarlo con el tag "h4".
*/
@mixin title-h4 ($font-color) { 
    color: $font-color; // $gray o $lightgray
    font-family: 'Open Sans', sans-serif;
    font-size: $font-m;
    font-weight: $regular;
    line-height: 22px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}

/* Utilizar este mixin para los títulos de las cards, en los nombres de las 
personas en testimonials y en el about us en los títulos que están a un lado
de los íconos.
En el html, los títulos de las card, en los nombres de las personas 
en testimonials y títulos del about us al lado de iconos colocarlo con el tag "h3".
*/
@mixin title-h3 ($font-color) {
    color: $font-color; // $white, $black o $bluegray
    font-family: $title;
    font-size: $font-l;
    font-weight: bold;
    text-align: center;  
}

// Utilizar este mixin para los párrafos en general.
@mixin paragraph {
    color: $blackgray;
    font-family: $text;
    font-size: $font-s;
    font-weight: $regular;
    line-height: 1.5rem;
}

@mixin dropdown-content {
    background-color: $white;
    box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.2);
    display: none;
    left:0;
    min-width: 130px;
    padding: 8px 0;
    position: absolute;
    top: 50px;
    z-index: 10;
}

//Screen Sizes 
@mixin breakpoint-mobile-1 {
    @media (min-width: 320px) {
        @content;
    }
}

@mixin breakpoint-mobile-2 {
    @media (min-width: 414px) {
        @content;
    }
}

@mixin breakpoint-tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin breakpoint-tablet-desktop {
    @media (min-width: 955px) {
        @content;
    }
}

@mixin breakpoint-desktop-1 {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin breakpoint-desktop-1-special {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin breakpoint-desktop-2 {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin breakpoint-desktop-3 {
    @media (min-width: 1300px) {
        @content;
    }
}