// Colors
$blue: #1445b3;
$white: #fff;
$light: #ecf5ff;
$lightblue: #007bff;
$darkblue: #00428a;
$black: #000;
$blackgray: #383838;
$bluegray: #283d50;
$gray: #556877;
$lightgray: #afafaf;

// Font 
$title: 'Montserrat', sans-serif;
$text: 'Open Sans', sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;

// Font-size
$font-xxl: 36px;
$font-xl: 23px;
$font-l: 18px;
$font-m: 15px;
$font-s: 12px;
$font-xs: 10px;
$font-xxs: 8px;

// Others
$box-sizing: border-box;